@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#popup-panel {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.popup {
    display: block;
    box-shadow: 0px 0px 8px #00000033;
    background: var(--notification-background-color, #12171c);
    padding: 12px 16px;
    margin-bottom: 16px;
    transition: opacity 0.4s;
    animation: fade-in 0.4s;
}

.popup.fade-out {
    opacity: 0;
}

.popup p.title {
    font-size: 18px;
    margin-bottom: 6px;
    color: var(--app-text-color, var(--overlay-text-color, #fff));
    font-weight: 500;
}

.popup p {
    font-size: 15px;
    color: var(--app-text-color, var(--overlay-text-color, #ddd));
    font-weight: 300;
    opacity: 0.85;
}

.popup strong {
    font-weight: 500;
}
